<div class="container mt-4 border">
<%= render 'shared/message' %>
  <div class="container-content">
    <h1 class="m-3">New Fog</h1>
    <div class="m-3">
      <%= render 'form', fog: @fog %>
      <%= link_to 'Back', fogs_path %>
    </div>
  </div>
</div>
