<div class="gradient-custom border">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">WordFog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
    </li>
  </ul>
</div>
